/* ALTERAR PARA TODOS OS ELEMENTOS */
html * {
    /* RESETAR A MARGEM */
    margin: 0px;
    /* LARGURA MÁXIMA DOS ELEMENTOS */
    max-width: 100%;
}

body {
    /* COR DE FUNDO */
    background-color: #101010;
}
h2 {
    color:whitesmoke;
}

#logotipo {
    /* LARGURA DO LOGOTIPO */
    width: 300px;
    /* MARGEM DO LOGOTIPO */
    margin: 20px;
}

.principal {
    /* ATIVAR O MODO GRID (LINHAS E COLUNAS) */
    display: grid;

    /* ELEMENTOS DENTRO DA CLASSE PRINCIPAL NO FORMATO DE 3 COLUNAS */
    grid-template-columns: repeat(3, 1fr);

    /* ESPAÇAMENTO ENTRE COLUNAS E LINHAS DO GRID */
    gap: 20px;
    text-align: center;
}
#menu{
    background-color: #17133d;
    margin-bottom: 18px;
    border-top: 10px solid #2A2375;
    border-bottom: 10px solid #2A2375;
    padding: 10px;

    display: grid;
    grid-template-columns: repeat(4,1fr);
    text-align: center;
}

#menu a{
    color: whitesmoke;
    text-transform: uppercase;
    text-decoration: none;
}
#menu :hover{
    background-color: whitesmoke;
    color: #17133d;
}
.rodape{
    background-color: #17133d;
    margin-bottom: 18px;
    border-top: 10px solid #2A2375;
    border-bottom: 10px solid #2A2375;
    padding: 10px;
    color: white;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
}
